name: Draw ZMK Keymaps

on:
  push:
    branches:
      - main
      - feature/*
  workflow_dispatch:

permissions:
  contents: write

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    with:
      keymap_patterns: "config/*.keymap"
      config_path: "config/keymap_drawer.yaml"
      output_folder: "keymap-drawer"
      parse_args: ""
      draw_args: ""
      commit_message: "Update keymap drawings [skip ci]"